
hr.solid {
    border-top: 3px solid black;
    color:black;
    
  }
  @media (max-width: 950) {
    .container-fluid{
      text-align: center;
 }
}
@media (max-width: 950px) {
    .logo{
      text-align: center;
 }

}
@media (max-width: 950px) {
  form{
   width:100%
}

}
